.layout .page .item {
	background-color: #e6e;

	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.7);
	box-shadow: 2px 2px 3px rgba(0,0,0,.7);

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
	border-radius: 5px;

	position: absolute;
	z-index: 10;

	cursor: pointer;
}

